
<div class="col-md-9" ng-controller="viewCartController">

<!--
    <div ng-repeat="product in product_data | filter: {code: 'S18_1589'}">
        {{product}}<br>
    </div>

    <div ng-repeat="(key, value) in cart_items">
        {{key}}, {{value}}<br/>
    </div>
-->

    <!--{{cart_items}}-->

<div class="container" ng-init="sum_total=0">
    <div class="row">
        <div class="col-sm-10 col-md-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cart_items"> <!-- (product_code, quantity) -->
                    <!--{{item}}-->
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#">
                                <img class="media-object" src="img/img{{item.id % 3}}.jpg" style="width: 90px; height: 56px;">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item.code}}</a></h4>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div>
                    </td>
                    <!--<td class="col-sm-1 col-md-1 text-center"><strong>{{item.qty}}</strong></td>-->
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="text" class="form-control" value="{{item.qty}}" ng-model="item.qty">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{item.price | number: 2}}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center" ng-init="$parent.sum_total = $parent.sum_total + item.total"><strong>{{item.total | number: 2}} </strong></td>
                    <td class="col-sm-1 col-md-1">
                        <!--
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                        -->
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>${{sum_total}}</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td></td>
                    <td>
                        <a href="#/checkout"><button class="btn btn-success">Checkout</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>